<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.diefferson.testefeatures.featuretwo">

    <application>
        <activity android:name=".FeatureTwoActivity">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="diefferson.com.br"
                    android:scheme="https"
                    android:pathPrefix="/featureTwo" />
            </intent-filter>
        </activity>
    </application>

</manifest>